$mainColor: #00cc99;
$subColor:rgb(245, 75, 75);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    display: flex;
    justify-content: center;
    align-items: center;


}

.todo {
    margin-top: 1rem;

    &-inputGroup {
        font-size: 1.5rem;

        input {
            padding-left: 1rem;
            border-radius: 5px;
            border: 0;
            margin-right: 1rem;
            color: black;
        }

        button {
            border: 0;
            padding: .25rem .75rem;
            border-radius: 5px;
            background-color: $mainColor;
            color: white;

            &:disabled {
                background-color: gray;

                &:hover {
                    background-color: gray;
                }
            }

            &:hover {
                background-color: darken($mainColor, 10%);
            }

            &:active {
                box-shadow: 0 0 20px 1px darken($mainColor, 10%);
            }

        }
    }

    .todoList {
        padding: 0;



        &-item {

            font-size: 2rem;
            display: flex;
            background-color: #fff;
            margin: 1rem 0;
            align-items: center;
            animation: scaleUp .5s forwards;

            &-title {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 1rem;

                h3 {
                    color: black
                }

                .del {
                    text-decoration: line-through;
                }
            }



            input {
                border: 0;
                width: 100%;
                padding: 0 1rem;
                outline: none;
                color: black;
            }

            button {
                padding: 0 .5rem;
            }

            .checkBtn {
                margin-left: auto;
                border: 0;
                background-color: $mainColor;
                color: white;

                &:hover {
                    background-color: darken($mainColor, 10%);
                }
            }

            .removeBtn {
                border: 0;
                background-color: $subColor;
                color: white;

                &:hover {
                    background-color: darken($subColor, 10%);
                }
            }
        }
    }
}




@keyframes scaleUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


@keyframes scaleDown {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}